<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-member-navigation [activeRoute]="activeRoute"></app-member-navigation>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container my-5">
      <div class="row">
        <!-- <div class="col">
          <div class=" m-1 p-3 bg-white border border-secondary rounded-1">
            <section >
              <strong>Mức độ mạo hiểm</strong>
              <ul style="list-style-type: none;">
                <li *ngFor="let tripLevel of tripLevels | keyvalue">
                  <input class="form-check-input me-1" type="checkbox" [ngModel]="selectedTripLevels.includes(tripLevel.key)"
                    (change)="onTripLevelChange(tripLevel.key,$event)">
                  {{ tripLevel.value }}
                </li>
              </ul>
            </section>
            <section>
              <strong>Thành phố:</strong>
              <select class="form-select" id="country" [(ngModel)]="selectedCityId" (change)="filterData()" >
                <option [value]="999">Tất cả</option>
                        <option *ngFor="let c of cities" [value]="c.id">{{c.name}}      </option>
              </select> 
            </section>
            <section>
              <strong>Ngày khởi hành:</strong>
              <input [(ngModel)]="startDate" (change)="filterData()" id="startDate" type="date" class="form-control">
            </section>
            <section>
              <strong>Ngày kết thúc:</strong>
              <input [(ngModel)]="endDate" (change)="filterData()" id="endDate" type="date" class="form-control">
            </section>
            <section>
              <strong>Chi phí tối đa</strong>
              <input type="number" class="form-control" [(ngModel)]="maxPrice" 
                (focusout)="filterData()">
            </section>
          </div>
        </div>
        <div class="col-9"> -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="searchText" />
            <div class="mx-2">
              <button mat-flat-button color="primary" (click)="filterData()">
                <mat-icon>search</mat-icon><span> Tim kiếm</span>
              </button>
            </div>
          </div>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="trips" matSort>

                  <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiêu đề</th>
                  <td mat-cell *matCellDef="let row"> {{row.title}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                  <th mat-header-cell *matHeaderCellDef >Thời gian</th>
                  <td mat-cell *matCellDef="let row"> {{ row.startDate }} - {{ row.endDate }} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef >Trạng thái</th>
                  <td mat-cell *matCellDef="let row"> {{row.tripStatus | tripStatus}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef ></th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-flat-button color="primary" [routerLink]="['/trips/view/', row.id]" class="me-2">Chi tiết</button>
                  </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                 <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">Không tìm thấy dữ liệu  </td>
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
              aria-label="Select page of trips"></mat-paginator>
            </div>

          </div>
      </div>
    <!-- </div> -->

  </mat-drawer-content>
</mat-drawer-container>
