<div class="container my-5">
    <div>
      <app-trip-details [tripId]="tripId"></app-trip-details>
    </div>

    <div>
      <button mat-flat-button color="success" *ngIf="!isJoined" class="me-2"
        [routerLink]="['/member/join-trip/',tripId]">
        <mat-icon>input</mat-icon> Join Trip
      </button>
      <button mat-stroked-button color="danger" *ngIf="isJoined" class="me-2"
        [routerLink]="['/member/join-trip/',tripId]">
        <mat-icon>input</mat-icon> Cancel Join Trip
      </button>
    </div>
  </div>

