<div class="container my-5">
  <div *ngIf="trip">
    <p class="h3">Payment</p>

    <div class="row p-3">
      <div class="col-6 justify-content-center">
        <p class="h5">Trip Info</p>
        <mat-card class="m-4" style="width:50%">
          <app-trip-card [trip]="trip"></app-trip-card>
        </mat-card>

      </div>
      <div class="col-6 justify-content-center">
        <p class="h5">Leader Info</p>
        <mat-card class="m-4" style="width:50%">
          <div *ngIf="user">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{ user.fullName }} </mat-card-title>
                <mat-card-subtitle>
                  <ngb-rating [(rate)]="rating" [readonly]="true" [max]="5"
                    class="custom-rating"></ngb-rating>
                  </mat-card-subtitle>
                <div *ngIf="user.imageURL">
                  <img mat-card-sm-image [src]="user.imageURL" alt="avatar">
                </div>
                <div *ngIf="!user.imageURL">
                  <img mat-card-sm-image src="http://www.gravatar.com/avatar/?d=mp" alt="avatar">
                </div>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button [routerLink]="['/profile/', user.id]">View Profile</button>
            </mat-card-actions>
          </div>
          
        </mat-card>
        <div *ngIf="user">
          <mat-card class="m-4" style="width:50%">
            <mat-card-content>
              <p>Bank: {{ user.paymentAccBank }}</p>
              <p>Account No.: {{ user.paymentAccNo }}</p>
              <p>Account Name: {{ user.paymentAccName }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="row p-3">
      <p>After transfer money, please submit this below form. You should expect a response from leader via email in the
        next 3 days.</p>
    </div>

    <form [formGroup]="paymentForm">
      <div class="mb-3">
        <app-form-img (selectedImage)="selectedImage($event)" [limitFileSize]="300"></app-form-img>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="input-right-align" placeholder="0" formControlName="amount"
          id="amountFld" pattern="[0-9]*">
        <span matTextPrefix>VND &nbsp;&nbsp;&nbsp;</span>
        <mat-error *ngIf="paymentForm.get('amount')?.invalid">Field is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea matInput type="text" formControlName="notes"></textarea>
      </mat-form-field>
      <div class="mb-3">
        <button mat-raised-button color="primary" type="submit" (click)="submit()" class="me-2" [disabled]="isLoading">
          <span *ngIf="!isLoading">Submit</span>
          <span *ngIf="isLoading"><mat-spinner [diameter]="20"></mat-spinner></span></button>
        <button mat-raised-button color="danger" type="button" (click)="onCancel()" class="me-2">Cancel</button>
      </div>
    </form>
  </div>