<div class="container my-5">
  <div *ngIf="trip">
    <p class="h3">{{ trip.title }}</p>

    <div class="row p-3">
      <div class="col-6">
        <div>Lead by: {{ trip.leaderName }}</div>
        <p>{{trip.introduction}}</p>
        <p>Trip is opened until {{ trip.fromDate }}</p>
      </div>
      <div class="col-6">
        <p class="h3">Payment Info</p>
        <p>Bank: {{ user.accbank }}</p>
        <p>Acc no: {{user.accno}}</p>
        <p>Acc Name: {{ user.accname }}</p>
      </div>
    </div>

    <div class="row p-3">
      <div class="mb-3">
        <label for="formFile" class="form-label">Thumbnail</label>
        <input class="form-control" type="file" id="formFile" required
        #fileInput type="file" (change)="onFileSelected($event)"
        accept="image/png, image/jpeg">
      </div>
      <div *ngIf="selectedFile" class="image-preview justify-content-center">
        <div class="circle-image">
          <img [src]="imagePreview" alt="Selected Image" class="preview-image">
        </div>
      </div>
      <div class="mb-3">
        <button mat-raised-button color="primary" type="submit" (click)="submit()">Submit</button>
      </div>
    </div>
</div>
