<div class="m-5">

  <h2>Group Chat</h2>

  <div *ngIf="group">
    <ul>
      <li *ngFor="let message of group.messages">
        <div>
          - {{ message.content }} by {{ message.user.username }}
        </div>
        <img [src]="message.user.imageURL" alt="User Avatar">
      </li>
    </ul>
  </div>
  <div *ngIf="error">{{ error }}</div>
  <div class="m-5">
    <form [formGroup]="chatForm">
      <textarea class="form-control" formControlName="chat.content" placeholder="Write something...">
      </textarea>
      <div class="btn-group">
        <button class="mt-1 btn btn-outline-primary btn-xs" (click)="postComment(chat)">
          Send
        </button>
      </div>
    </form>
  </div>
</div>
