<div class="social-comment">
  <div>
    <div class="media-body col">
      <textarea
        class="form-control"
        formControlName="comment.content"
        placeholder="Write comment..."
      >
      </textarea>
      <div class="btn-group">
        <!-- <button (click)="likePost(post)" class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like</button> -->
        <button
          class="mt-1 btn btn-outline-primary btn-xs"
          (click)="postComment(comment)"
        >
          <em class="fa fa-comments"></em> Comment
        </button>
      </div>
    </div>
  </div>
</div>
