<div class="container my-5">
  <div class="heading h3">About Us</div>
  <p>{{ aboutUsText }}</p>


  <div class="heading h3">Contact Us</div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required type="text">
      <mat-error *ngIf="contactForm.get('name').hasError('required')">
        Name is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email Address" formControlName="email" required type="email">
      <mat-error *ngIf="contactForm.get('email').hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="contactForm.get('email').hasError('email')">
        Invalid email format.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Subject" formControlName="subject" required type="text">
      <mat-error *ngIf="contactForm.get('subject').hasError('required')">
        Subject is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Message" formControlName="message" required></textarea>
      <mat-error *ngIf="contactForm.get('message').hasError('required')">
        Message is required.
      </mat-error>
    </mat-form-field>
    <div class="mb-3">
      <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid || isLoading">
        <span *ngIf="!isLoading">Send</span>
        <span *ngIf="isLoading"><mat-spinner [diameter]="20"></mat-spinner></span></button>
    </div>
  </form>
</div>
