<div class="container my-5 contact-container">
  <section class="my-5">
  <div class="heading h3">Thông tin trang web</div>
  <p>{{ aboutUsText }}</p>
</section>
<section >
  <div class="heading h3">Contact Us</div>
  <p>Số điện thoại: {{phoneText}}</p>
  <p>Email: {{emailText}}</p>
</section>
  <!-- <div class="heading h3">Contact Us</div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required type="text">
      <mat-error *ngIf="contactForm.get('name').hasError('required')">
        Name is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required type="email">
      <mat-error *ngIf="contactForm.get('email').hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="contactForm.get('email').hasError('email')">
        Invalid email format.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input matInput formControlName="subject" required type="text">
      <mat-error *ngIf="contactForm.get('subject').hasError('required')">
        Subject is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput formControlName="message" required></textarea>
      <mat-error *ngIf="contactForm.get('message').hasError('required')">
        Message is required.
      </mat-error>
    </mat-form-field>
    <div class="mb-3">
      <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid || isLoading">
        <span *ngIf="!isLoading">Send</span>
        <span *ngIf="isLoading"><mat-spinner [diameter]="20"></mat-spinner></span></button>
    </div>
  </form> -->
</div>
