.contact-us {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.form-group {
  margin-bottom: 15px;
}
.contact-container {

  height: 78vh; /* Chiều cao trừ đi top navigation và footer */

}
