<div class="container my-5">
  <div class="heading h3">About Us</div>
  <p>{{ aboutUsText }}</p>


  <div class="heading h3">Contact Us</div>
  <form [formGroup]="contactForm">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required type="text">
      <mat-error *ngIf="contactForm.get('name').hasError('required')">
        Name is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email Address" formControlName="emailAddress" required type="email">
      <mat-error *ngIf="contactForm.get('emailAddress').hasError('required')">
        Email Address is required.
      </mat-error>
      <mat-error *ngIf="contactForm.get('emailAddress').hasError('email')">
        Invalid email format.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Subject" formControlName="subject" required type="text">
      <mat-error *ngIf="contactForm.get('subject').hasError('required')">
        Subject is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Message" formControlName="content" required type="email">
      <mat-error *ngIf="contactForm.get('content').hasError('required')">
        Message is required.
      </mat-error>
    </mat-form-field>
    <div class="mb-3">
      <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Send</button>
    </div>
  </form>
</div>
