<div class="list-group list-group-flush">
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('joined-trips')}" [routerLink]="['/member/joined-trips']">Chuyến đi đã tham gia
  </a>
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('created-trips')}" [routerLink]="['/member/created-trips']">Chuyến đi đã tạo</a>
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('joined-requests')}" [routerLink]="['/member/joined-requests']">Lời mời tham gia</a>
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('payment-list')}" [routerLink]="['/member/payment/list']">Lịch sử thanh toán</a>
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('profile')}" [routerLink]="['/member/profile']">Chỉnh sửa hồ sơ</a>
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('reported-trips')}" [routerLink]="['/member/reported-trips']">Chuyến đi bị báo cáo</a>
</div>
