<div class="list-group list-group-flush">
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('joined-trips')}" [routerLink]="['/member/joined-trips']">Your Joined Trips
  </a>
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('created-trips')}" [routerLink]="['/member/created-trips']">Your Created Trips</a>
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('joined-requests')}" [routerLink]="['/member/joined-requests']">Join Requests</a>
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('payment-list')}" [routerLink]="['/member/payment/list']">Payment History</a>
  <a href="#" class="list-group-item list-group-item-action" [ngClass]="{'active': isActive('profile')}" [routerLink]="['/member/profile']">Chỉnh sửa hồ sơ</a>
</div>
