<div class="container my-5">

  <div class="heading h3" *ngIf="isAddMode">Add Trip</div>
  <div class="heading h3" *ngIf="!isAddMode">Edit Trip</div>

  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>
        Thumbnail *
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mx-auto">
      <app-form-img (selectedImage)="onSelectedImage($event)" [existingImage]="existingImage"
        [limitFileSize]="300"></app-form-img>
    </mat-card-content>
  </mat-card>

  <form [formGroup]="tripForm">
    <mat-card class="mb-3">
      <mat-card-header>
        <mat-card-title>
          Trip Details
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="my-3">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title">
          <mat-error *ngIf="tripForm.get('title')?.invalid">{{ getTripErrorMessage('title') }}</mat-error>
        </mat-form-field>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Select a City</mat-label>
              <mat-select formControlName="cityId">
                <mat-option *ngFor="let city of listOfCities" [value]="city.id">{{city.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="tripForm.get('cityId')?.invalid">{{ getTripErrorMessage('cityId') }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Select a Level</mat-label>
              <mat-select formControlName="tripLevel">
                <mat-option *ngFor="let level of tripLevels | keyvalue" [value]="level">{{ level }}</mat-option>
              </mat-select>
              <!-- <option *ngFor="let level of tripLevels" [value]="level">
                {{ level }}  </option>
              <mat-select formControlName="tripLevel">
                <mat-option value="Easy">Easy</mat-option>
                <mat-option value="Moderate">Moderate</mat-option>
                <mat-option value="Intermediate">Intermediate</mat-option>
              </mat-select> -->
              <mat-error *ngIf="tripForm.get('tripLevel')?.invalid">{{ getTripErrorMessage('tripLevel') }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Summary</mat-label>
          <input matInput type="text" formControlName="summary">
          <mat-error *ngIf="tripForm.get('summary')?.invalid">{{ getTripErrorMessage('summary') }}</mat-error>
        </mat-form-field>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Price</mat-label>
              <input matInput type="number" class="input-right-align" placeholder="0" formControlName="price"
                id="priceFld" thousandSeparator=",">
              <span matTextPrefix>VND &nbsp;&nbsp;&nbsp;</span>
              <mat-error *ngIf="tripForm.get('price')?.invalid">{{ getTripErrorMessage('price') }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Group Size</mat-label>
              <input matInput type="number" placeholder="0" formControlName="groupSize" id="priceFld">
              <mat-error *ngIf="tripForm.get('groupSize')?.invalid">{{ getTripErrorMessage('groupSize') }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>From Age</mat-label>
              <input value="20" matInput formControlName="minAge" type="number" min="10" max="80">
              <mat-error *ngIf="tripForm.get('minAge')?.invalid">{{ getTripErrorMessage('minAge') }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>To Age</mat-label>
              <input value="60" matInput formControlName="maxAge" type="number" min="10" max="80">
              <mat-error *ngIf="tripForm.get('maxAge')?.invalid">{{ getTripErrorMessage('maxAge') }}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker" appearance="outline">
                <input matStartDate placeholder="Start date" formControlName="startDate">
                <input matEndDate placeholder="End date" formControlName="endDate">
              </mat-date-range-input>
              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="tripForm.get('startDate')?.invalid || tripForm.get('endDate')?.invalid">{{
                getTripErrorMessage('startDate') }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Notes</mat-label>
          <textarea matInput type="text" formControlName="notes"></textarea>
          <mat-error *ngIf="tripForm.get('notes')?.invalid">{{ getTripErrorMessage('notes') }}</mat-error>
        </mat-form-field>

      </mat-card-content>
    </mat-card>

        <mat-card class="mb-3">
          <mat-card-header>
            <mat-card-title>
              Chính sách Hủy Chuyến
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="my-3">
        <div class="row">
          <div class="col-md-6">
            Hủy trước ngày chuyến đi bắt đầu ít nhất 1 tháng: 
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">          
              <mat-select formControlName="cancelOneMonth">
                <mat-option value="No">No Refund</mat-option>
                <mat-option value="50%">50% Refund</mat-option>
                <mat-option value="75%">75% Refund</mat-option>
                <mat-option value="Full">Full Refund</mat-option>
              </mat-select>
              <mat-error *ngIf="tripForm.get('cancelOneMonth')?.invalid">{{ getTripErrorMessage('cancelOneMonth') }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Hủy trước ngày chuyến đi bắt đầu ít nhất 1 tuần: 
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">          
              <mat-select formControlName="cancelOneWeek">
                <mat-option value="No">No Refund</mat-option>
                <mat-option value="50%">50% Refund</mat-option>
                <mat-option value="75%">75% Refund</mat-option>
                <mat-option value="Full">Full Refund</mat-option>
              </mat-select>
              <mat-error *ngIf="tripForm.get('cancelOneWeek')?.invalid">{{ getTripErrorMessage('cancelOneWeek') }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Hủy trước ngày chuyến đi bắt đầu ít nhất 24 giờ: 
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">          
              <mat-select formControlName="cancelOneDay">
                <mat-option value="No">No Refund</mat-option>
                <mat-option value="50%">50% Refund</mat-option>
                <mat-option value="75%">75% Refund</mat-option>
                <mat-option value="Full">Full Refund</mat-option>
              </mat-select>
              <mat-error *ngIf="tripForm.get('cancelOneDay')?.invalid">{{ getTripErrorMessage('cancelOneDay') }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mb-3">
      <mat-card-header>
        <mat-card-title>
          Images *
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="my-3">
        <div class="image-list ">
          <input type="file" multiple accept="image/png, image/jpeg" class="file-input" (change)="onSelectedImages($event)" #fileUpload>
          <button mat-raised-button class="btn btn-success" class="upload-btn" (click)="fileUpload.click()">
            Add Image
          </button> 
          <div>
            <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
          </div>
      </div>

        <div class="existed-image-list" *ngIf="existedImagesAnyArray">
          <div *ngFor="let image of existedImagesAnyArray; let i = index">
          <img [src]="image.src" alt="Selected Image" class="existed-image">
          <button mat-icon-button color="warn" (click)="removeImage(i)">
            <mat-icon aria-label="Remove Item">delete</mat-icon>
          </button>
        </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mb-3">
      <mat-card-header>
        <mat-card-title>Itinerary *
          <span>
            <button mat-raised-button class="btn btn-success" (click)="addTripDay()">
              Add Day
            </button>
          </span>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="my-3">
        <div formArrayName="tripDays">
          <div *ngFor="let tripDay of tripDays().controls; let dayIndex=index">
            <div [formGroupName]="dayIndex" class="trip-day-box">
              <div class="row">
                <div class="col-md-1">
                  <button mat-mini-fab color="danger" (click)="removeTripDay(dayIndex)">
                    <mat-icon aria-label="Remove Item">delete</mat-icon>
                    <input type="hidden" formControlName="id" />
                  </button>
                </div>
                <div class="col-md-1">
                  <mat-form-field appearance="outline">
                    <mat-label>Day</mat-label>
                    <input matInput type="number" formControlName="dayNo" min="1" />
                    <mat-error *ngIf="tripForm.get('dayNo')?.invalid">{{ getTripErrorMessage('dayNo') }}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button mat-mini-fab color="accent" (click)="addActivity(dayIndex)">
                    <mat-icon aria-label="Add a New Activity">add</mat-icon>
                  </button>
                </div>

                <div class="col">
                  <div formArrayName="activities">
                    <div *ngFor="let acitivity of activities(dayIndex).controls; let activityIndex=index">
                      <div [formGroupName]="activityIndex">
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label> Title</mat-label>
                              <input matInput type="text" formControlName="title" />
                              <mat-error
                                *ngIf="activities(dayIndex).controls[activityIndex].get('title')?.hasError('required')">
                                Field is required
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field appearance="outline">
                              <mat-label>Description</mat-label>
                              <textarea matInput type="text" formControlName="description"></textarea>
                              <mat-error
                                *ngIf="activities(dayIndex).controls[activityIndex].get('description')?.hasError('required')">
                                Field is required
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-md-1">
                            <button mat-mini-fab color="danger" (click)="removeActivity(dayIndex,activityIndex)">
                              <mat-icon aria-label="Remove Item">delete</mat-icon>
                              <input type="hidden" formControlName="id" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="mb-2">
      <button mat-raised-button color="primary" type="submit" (click)="submit()"
        >Submit</button>
    </div>
  </form>
</div>