<div class="container my-5">

  <div class="heading h3" *ngIf="isAddMode">Add Trip</div>
  <div class="heading h3" *ngIf="!isAddMode">Edit Trip</div>
  <div class="mb-3">
    <app-form-img (selectedImage)="selectedImage($event)" 
    [existingImage]="existingImage" 
    [limitFileSize]="300"></app-form-img>
  </div>

  <form [formGroup]="tripForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
      <mat-error *ngIf="tripForm.get('title')?.invalid">{{ getTripErrorMessage('title') }}</mat-error>
    </mat-form-field>


    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Select a City</mat-label>
          <mat-select formControlName="cityId">
            <mat-option *ngFor="let city of listOfCities" [value]="city.id">{{city.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="tripForm.get('cityId')?.invalid">{{ getTripErrorMessage('cityId') }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Select a Level</mat-label>
          <mat-select formControlName="tripLevel">
            <mat-option value="Easy">Easy</mat-option>
            <mat-option value="Moderate">Moderate</mat-option>
            <mat-option value="Intermediate">Intermediate</mat-option>
          </mat-select>
          <mat-error *ngIf="tripForm.get('tripLevel')?.invalid">{{ getTripErrorMessage('tripLevel') }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Summary</mat-label>
      <input matInput type="text" formControlName="summary">
      <mat-error *ngIf="tripForm.get('summary')?.invalid">{{ getTripErrorMessage('summary') }}</mat-error>
    </mat-form-field>


    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput type="number" class="input-right-align" placeholder="0" formControlName="price"
            id="priceFld" pattern="[0-9]*">
          <span matTextPrefix>VND &nbsp;&nbsp;&nbsp;</span>
          <mat-error *ngIf="tripForm.get('price')?.invalid">{{ getTripErrorMessage('price') }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Group Size</mat-label>
          <input matInput type="number" placeholder="0" formControlName="groupSize"
            id="priceFld">
          <mat-error *ngIf="tripForm.get('groupSize')?.invalid">{{ getTripErrorMessage('groupSize') }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>From Age</mat-label>
          <input value="20" matInput formControlName="minAge" type="number" min="10" max="80">
          <mat-error *ngIf="tripForm.get('minAge')?.invalid">{{ getTripErrorMessage('minAge') }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>To Age</mat-label>
          <input value="60" matInput formControlName="maxAge" type="number" min="10" max="80">
          <mat-error *ngIf="tripForm.get('maxAge')?.invalid">{{ getTripErrorMessage('maxAge') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" appearance="outline">
            <input matStartDate placeholder="Start date" formControlName="startDate">
            <input matEndDate placeholder="End date" formControlName="endDate">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="tripForm.get('startDate')?.invalid || tripForm.get('endDate')?.invalid">{{ getTripErrorMessage('startDate') }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Notes</mat-label>
      <textarea matInput type="text" formControlName="notes"></textarea>
      <mat-error *ngIf="tripForm.get('notes')?.invalid">{{ getTripErrorMessage('notes') }}</mat-error>
    </mat-form-field>


    <div class="mb-3">
      <mat-toolbar class="iternarary-toolbar mb-3">
        <span>Itinerary * </span>
        <div style="right: 0;">
          <button mat-icon-button color="accent" (click)="addItem()">
            <mat-icon aria-label="Add a New Day">add</mat-icon>
          </button>
        </div>
      </mat-toolbar>

      <mat-error class="form-array-error" *ngIf="formUtils.isFormArrayRequired(tripForm, 'tripDays')">
        At least one day is added.
      </mat-error>
      <div formArrayName="tripDays" *ngFor="let itemForm of getItemFormArray(); let i = index" class="m-2">
        <div class="row mb-2" [formGroupName]="i">
          <div class="col-1">
            <mat-form-field appearance="outline">
              <mat-label>Day</mat-label>
              <input matInput formControlName="dayNo" type="number" min="1" />
              <mat-error *ngIf="tripForm.get('dayNo')?.invalid && tripForm.get('dayNo')?.touched">
                Field is required.</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" />
              <mat-error *ngIf="tripForm.get('title')?.invalid && tripForm.get('title')?.touched">
                Field is required.</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
              <mat-error *ngIf="tripForm.get('description')?.invalid && tripForm.get('description')?.touched">
                Field is required.</mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <button mat-icon-button color="warn" (click)="removeItem(i)">
              <mat-icon aria-label="Remove Item">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <button mat-raised-button color="primary" type="submit" (click)="submit()" [disabled]="tripForm.invalid">Submit</button>
    </div>
  </form>
</div>
