<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/member/joined-trips']">Your Joined
        Trips
      </a>
      <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/member/created-trips']">Your Created
        Trips</a>
      <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/member/joined-requests']">Join
        Requests</a>
      <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/member/payment/list']">Payment
        History</a>
      <a href="#" class="list-group-item list-group-item-action active" aria-current="true"
        [routerLink]="['/member/profile']">Edit Profile</a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container my-5">
      <div class="heading h3">Edit Profile</div>
      <form [formGroup]="profileForm">
        <mat-form-field>
          <input matInput placeholder="Username" [attr.disabled]="true" formControlName="username">
        </mat-form-field>
        <div class="mb-3">
          <app-form-img (selectedImage)="selectedImage($event)" [limitFileSize]="50"
            [existingImage]="existingImage"></app-form-img>
        </div>
        <mat-card class="mb-3">
          <mat-card-header>
            <mat-card-title>User Information</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="firstName" required>
              <mat-error *ngIf="profileForm.get('firstName').hasError('required')">
                First Name is required.
              </mat-error>
              <mat-error *ngIf="profileForm.get('firstName').hasError('minlength')">
                First Name must be at least 1 character.
              </mat-error>
              <mat-error *ngIf="profileForm.get('firstName').hasError('maxlength')">
                First Name cannot be longer than 50 characters.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="lastName" required>
              <mat-error *ngIf="profileForm.get('lastName').hasError('required')">
                Last Name is required.
              </mat-error>
              <mat-error *ngIf="profileForm.get('lastName').hasError('minlength')">
                Last Name must be at least 1 character.
              </mat-error>
              <mat-error *ngIf="profileForm.get('lastName').hasError('maxlength')">
                Last Name cannot be longer than 50 characters.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Phone Number" formControlName="phoneNo" type="number">
              <mat-error *ngIf="profileForm.get('phoneNo').hasError('pattern')">
                Invalid phone number.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Gender" formControlName="gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email Address" formControlName="email" required type="email">
              <mat-error *ngIf="profileForm.get('email').hasError('required')">
                Email Address is required.
              </mat-error>
              <mat-error *ngIf="profileForm.get('email').hasError('email')">
                Invalid email format.
              </mat-error>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <mat-card class="mb-4">
          <mat-card-header>
            <mat-card-title>Password</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button mat-raised-button color="primary" [routerLink]="['/member/password-edit']">Change
              Password</button>
          </mat-card-content>
        </mat-card>
        <mat-card class="mb-4">
          <mat-card-header>
            <mat-card-title>Payment Information</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input matInput placeholder="Account Number" formControlName="paymentAccNo" type="number">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Account Bank" formControlName="paymentAccBank">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Account Name" formControlName="paymentAccName">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <button mat-raised-button color="primary" type="submit" (click)="submit()" [disabled]="profileForm.invalid">Save
          Profile</button>
      </form>
    </div>

  </mat-drawer-content>

</mat-drawer-container>