<div class="container my-5">
  <div class="heading h3">Edit Password</div>
    <mat-card class="m-5">
      <mat-card-content>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Old Password</mat-label>            
            <input matInput [type]="hideOPassword ? 'password' : 'text'" formControlName="oldPassword"
            required>
            <button mat-icon-button matSuffix (click)="hideOPassword = !hideOPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOPassword">
              <mat-icon>{{hideOPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.get('oldPassword')?.invalid && passwordForm.get('oldPassword')?.touched">
              Old Password is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="{{ hideNPassword ? 'password' : 'text' }}" formControlName="newPassword"
              required>
              <button mat-icon-button matSuffix (click)="hideNPassword = !hideNPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNPassword">
                <mat-icon>{{hideNPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-error *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
              Please enter a valid password. (8-120 char)</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="{{ hideCPassword ? 'password' : 'text' }}" formControlName="confirmPassword"
              required>
              <button mat-icon-button matSuffix (click)="hideCPassword = !hideCPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCPassword">
                <mat-icon>{{hideCPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-error *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched">
              Please enter a valid password.</mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Change Password</button>
        </form>
      </mat-card-content>
    </mat-card>
</div>
