<div class="container my-5">

  <div class="heading h3">Add Trip</div>
  <form [formGroup]="tripForm">
    <div class="mb-3">
      <div class="mb-3">
        <label for="formFile" class="form-label">Thumbnail</label>
        <input class="form-control" type="file" id="formFile" required #fileInput type="file"
          (change)="onFileSelected($event)" accept="image/png, image/jpeg">
      </div>

      <div *ngIf="selectedFile" class="image-preview justify-content-center">
        <div class="circle-image">
          <img [src]="imagePreview" alt="Selected Image" class="preview-image">
        </div>
      </div>
    </div>


    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
      <mat-error *ngIf="tripForm.value.title">This input is required!</mat-error>
    </mat-form-field>


    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Select a City</mat-label>
          <mat-select formControlName="cityId">
            <mat-option *ngFor="let city of listOfCities" [value]="city.id">{{city.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="tripForm.value.cityId">This input is required!</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6"><mat-form-field appearance="outline">
          <mat-label>Select a Level</mat-label>
          <mat-select formControlName="tripLevel">
            <mat-option value="Easy">Easy</mat-option>
            <mat-option value="Moderate">Moderate</mat-option>
            <mat-option value="Intermediate">Intermediate</mat-option>
          </mat-select>
          <mat-error *ngIf="tripForm.value.tripLevel">This input is required!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Summary</mat-label>
      <input matInput type="text" formControlName="summary">
      <mat-error *ngIf="tripForm.value.summary">This input is required!</mat-error>
    </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Highlights</mat-label>
        <textarea matInput type="text" formControlName="highlights"></textarea>
        <mat-error *ngIf="tripForm.value.highlights">This input is required!</mat-error>
      </mat-form-field>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0" formControlName="price"
            id="priceFld" pattern="[0-9]*">
          <span matTextPrefix>$&nbsp;</span>
          <mat-error *ngIf="tripForm.value.price">This input is required!</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Group Size</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0" formControlName="groupSize"
            id="priceFld">
          <mat-error *ngIf="tripForm.value.groupSize">This input is required!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>From Age</mat-label>
          <input value="20" matInput formControlName="minAge" type="number" min="10" max="80">
          <mat-error *ngIf="tripForm.value.minAge">This input is required!</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>To Age</mat-label>
          <input value="60" matInput formControlName="maxAge" type="number" min="10" max="80">
          <mat-error *ngIf="tripForm.value.maxAge">This input is required!</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" [min]="minDate" appearance="outline">
            <input matStartDate placeholder="Start date" formControlName="startDate">
            <input matEndDate placeholder="End date" formControlName="endDate">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="tripForm.value.startDate && tripForm.value.endDate">This input is required!</mat-error>
        </mat-form-field>
      </div>
    </div>

      <mat-form-field appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea matInput type="text" formControlName="notes"></textarea>
        <mat-error *ngIf="tripForm.value.notes">This input is required!</mat-error>
      </mat-form-field>


    <div class="mb-3">
      <mat-toolbar class="iternarary-toolbar mb-3">
        <span>Itinerary</span>
        <div style="right: 0;">
          <button mat-icon-button color="accent" (click)="addItems()">
            <mat-icon aria-label="Add a New Lesson">add</mat-icon>
          </button>
        </div>
      </mat-toolbar>

      <div class="invalid-feedback m-1" *ngIf="tripForm.get('items')?.hasError('required')">
        At least one day is added.
      </div>
      <div formArrayName="items" *ngFor="let itemForm of items.controls; let i = index" class="m-2">
        <div class="row mb-2" [formGroupName]="i">
          <div class="col-1">
            <mat-form-field appearance="outline">
              <mat-label>Day</mat-label>
              <input matInput formControlName="dayNo" type="number" min="1" />
              <mat-error *ngIf="getItemFormArray()[i].get('dayNo')?.invalid">This input is required!
                <!-- {{ getLessonErrorMessage('name', i) }} -->
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" />
              <mat-error *ngIf="getItemFormArray()[i].get('title')?.invalid">This input is required!
                <!-- {{ getLessonErrorMessage('name', i) }} -->
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
              <mat-error *ngIf="getItemFormArray()[i].get('description')?.invalid">This input is required!
                <!-- {{ getLessonErrorMessage('name', i) }} -->
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <button mat-icon-button color="warn" (click)="removeItem(i)">
              <mat-icon aria-label="Remove Item">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <button mat-raised-button color="primary" type="submit" (click)="submit()">Submit</button>
    </div>
  </form>
</div>
