

<div class="container my-5">
<a href="#" routerLink="/trips/create" type="button" class="btn btn-success">Create New trip</a>
<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search by title"
    [(ngModel)]="searchText"
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="onSearch()"
    >
      Search
    </button>
  </div>
</div>
<!-- <input type="text" formControlName="searchText" placeholder="Search by title">
<button (click)="onSearch()">Search</button> -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Time</th>
      <th>Status</th>
      <th width="250px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trip of trips">
      <td>{{ trip.id }}</td>
      <td>{{ trip.title }}</td>
      <td>{{ trip.fromDate }} - {{ trip.toDate }}</td>
      <td>{{ trip.tripStatus }}</td>
      <td>
        <a href="#" [routerLink]="['/admin/trip/', trip.id]" class="btn btn-info">View</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
