<img mat-card-image [src]="trip.imageByte" alt="trip-image" class="card-trip-image">
<mat-card-header>
  <mat-card-title>{{ trip.title }}</mat-card-title>
  <mat-card-subtitle>{{ trip.startDate }} - {{ trip.endDate }} </mat-card-subtitle>
  <mat-card-subtitle>{{ trip.tripLevel | tripLevel}} | {{ trip.cityName}}</mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <p>{{ trip.summary?.slice(0, 190) + (trip.summary?.length > 200 ? '...' : '' )}}</p>
  <p class="mt-price"> VND {{ trip.price | currency: 'VND' }}/pax</p>

</mat-card-content>
