<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-member-navigation [activeRoute]="activeRoute"></app-member-navigation>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container my-5">

      <mat-form-field>
        <mat-label>Lọc tìm kiếm</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="joins" matSort>

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Thành viên </th>
            <td mat-cell *matCellDef="let row"> {{row.payerUsername}} </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Chuyến đi </th>
            <td mat-cell *matCellDef="let row"> {{row.tripTitle}} </td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef> Ngày tạo </th>
            <td mat-cell *matCellDef="let row"> {{row.createdDate}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
            <td mat-cell *matCellDef="let row"> {{row.paymentStatus | paymentStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <a mat-flat-button color="primary" [routerLink]="['/member/payment/view/', row.id]">Chi tiết</a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không tìm thấy dữ liệu  "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
          aria-label="Select page of trips"></mat-paginator>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>