<div class="hero-image">
  <div class="hero-text">
    <h1>Những đội trưởng tài năng</h1>
    <p>Bảng xếp hạng những đội trưởng tài năng nhất trong hệ thống</p>
    <!-- <button>Hire me</button> -->
  </div>
</div>
<div class="container my-5">
<div *ngIf="isLoading">Loading...</div>
<div *ngIf="error">Error: {{ error }}</div>

<div >
    <table mat-table [dataSource]="leaders" class="mat-elevation-z8">

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let row"> 
        <img mat-card-avatar [src]="'data:image/jpeg;base64,'+row.imageByte" alt="User Avatar" width="80px">
       </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let row"> {{row.username}} </td>
    </ng-container>

    <ng-container matColumnDef="noOfTrips">
      <th mat-header-cell *matHeaderCellDef> Trips Led </th>
      <td mat-cell *matCellDef="let row"> {{row.noOfTrips}} </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let row"> {{row.rating}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <a mat-flat-button color="primary" [routerLink]="['/profile/', row.id]">View</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data</td>
    </tr>
  </table>
</div>
</div>