<!-- <mat-card [routerLink]="['/trips/view', trip.id]" class="trip-card mat-elevation-z2"> -->
<img mat-card-image [src]="trip.processedImg" alt="trip-image" class="card-trip-image">
<mat-card-header>
  <mat-card-title>{{ trip.title }}</mat-card-title>
  <mat-card-subtitle>{{ trip.fromDate }} - {{ trip.toDate}} </mat-card-subtitle>
  <mat-card-subtitle>{{ trip.tripLevel}} level</mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <p>{{ trip.introduction }}</p>
  <p class="mt-price"> VND {{ trip.budget | currency: 'VND' }}/pax</p>

</mat-card-content>
<!-- </mat-card> -->
