<div class="container my-5">
  <div>
    <app-trip-details [tripId]="tripId" (isEnded)="getIsEnded($event)" (status)="getStatus($event)"
    (isLeader)="getIsLeader($event)" (isJoined)="getIsJoined($event)"></app-trip-details>
  </div>
  <div class="action-button-row">
    <!-- <button mat-stroked-button color="warn" *ngIf="isJoined && !isEnded" class="me-2" (click)="revokeJoinTrip()">
      <mat-icon>clear</mat-icon> Revoke Join
    </button> -->
    <button mat-flat-button color="accent"
      [routerLink]="['/member/chat/',tripId]" *ngIf="(isJoined || isLeader) && !isEnded && isGroupChatOpened">
      <mat-icon> chat</mat-icon> Join Team Chat
    </button>
    <button mat-flat-button color="accent"
      [routerLink]="['/member/feedback/',tripId]" *ngIf="isJoined && isEnded && !isLeader">
      <mat-icon> chat</mat-icon> Feedback
    </button>
    <button mat-flat-button color="danger" (click)="changeStatus('cancel')" *ngIf="isLeader && !isEnded">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button mat-flat-button color="success" (click)="changeStatus('end')" *ngIf="isLeader && !isEnded">
      <mat-icon>check</mat-icon> End
    </button>
    <button mat-flat-button color="danger" [routerLink]="['/member/joiner/remove/',tripId]" *ngIf="isLeader && !isEnded">
      <mat-icon>cancel</mat-icon> Remove Participant
    </button>
  </div>
</div>
