<div class="container my-5">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="searchText" />
    <div class="mx-2">
      <button mat-flat-button color="primary" (click)="onSearch()">
        <mat-icon>search</mat-icon><span> Search</span>
      </button>
    </div>
  </div>

  <!-- <div class="my-5"> -->
    <div fxLayout="row wrap" fxLayoutGap="16px">  <mat-card fxFlex="30%" *ngFor="let trip of trips" class="example-card">

        <mat-card-header>
          <mat-card-title>{{ trip.title }}</mat-card-title>
          <mat-card-subtitle>{{ trip.fromDate }} - {{ trip.toDate}} | {{ trip.tripLevel}} level</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="trip.processedImg" alt="trip-image" class="card-trip-image">
        <mat-card-content>
          <p>{{ trip.introduction }}</p>
          <p class="mt-price"> VND {{ trip.budget | currency: 'VND' }}/pax | Group size: {{ trip.groupSize }} </p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/view', trip.id]">View Details</button>
        </mat-card-actions>
      </mat-card>
  <!-- </div> -->

</div>
