<div class="container">
  <h1>Angular 16 CRUD Example - ItSolutionStuff.com</h1>

  <a href="#" routerLink="/trip/create/" class="btn btn-success">Create New trip</a>

  <table class="table table-striped">
      <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Highlights</th>
              <th width="250px">Action</th>
            </tr>
      </thead>
      <tbody>
            <tr *ngFor="let trip of trips">
              <td>{{ trip.id }}</td>
              <td>{{ trip.title }}</td>
              <td>{{ trip.highlights }}</td>
              <td>
                <a href="#" [routerLink]="['/trips/', trip.id, 'view']" class="btn btn-info">View</a>
                <a href="#" [routerLink]="['/trips/', trip.id, 'edit']" class="btn btn-primary">Edit</a>
                <button type="button" (click)="deleteTrip(trip.id)" class="btn btn-danger">Delete</button>
              </td>
            </tr>
      </tbody>
  </table>
</div>
