section {
  display: block;
  margin-bottom: 10px;

}
.info {
  max-width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: -.25em;
    padding-right: 5px;
    color: #555;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8 rem;
}
.mt-price {
  font-size: 0.8 rem;
    font-weight: 600;
    color: #111;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: -.25em;
    text-transform: unset;
}
.trip-card {
  width: 200px;
  margin-bottom: 16px;

  .card-trip-image{
    height: 150px;
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  }
}

