<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <mat-list-item [activated]="true"><a mat-list-item [routerLink]="['/member/joined-trips']">Your Joined Trips</a></mat-list-item>
      <mat-list-item><a mat-list-item [routerLink]="['/member/created-trips']">Your Created Trips</a></mat-list-item>
      <mat-list-item><a mat-list-item [routerLink]="['/member/joined-requests']">Join Requests</a></mat-list-item>
      <mat-list-item><a mat-list-item [routerLink]="['/member/profile']">Chỉnh sửa hồ sơ</a></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-trip-joined-list></app-trip-joined-list>
  </mat-drawer-content>
</mat-drawer-container> -->


<!-- <div class="container my-5">
  <div role="tabpanel">
        <div class="row">
      <div class="col-md-3">
        <div class="list-group" id="myList" role="tablist">
          <a class="list-group-item list-group-item-action active"
          data-bs-toggle="list" href="#joinedtrips"
            role="tab">Your Joined Trips</a>
          <a class="list-group-item list-group-item-action"
          data-bs-toggle="list" href="#mytrips" role="tab">
          Your Created Trips</a>
            <a class="list-group-item list-group-item-action"
            data-bs-toggle="list" href="#joins" role="tab">Join Requests</a>
          <a class="list-group-item list-group-item-action"
          data-bs-toggle="list" href="#profile" role="tab">Chỉnh sửa hồ sơ</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane active" id="joinedtrips" role="tabpanel">
            <app-trip-joined-list></app-trip-joined-list>
          </div>
          <div class="tab-pane" id="mytrips" role="tabpanel">
            <app-trip-created-list></app-trip-created-list>
          </div>
          <div class="tab-pane" id="joins" role="tabpanel">
            <app-join-request-list></app-join-request-list>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel">
            <app-profile-edit></app-profile-edit>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
