.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  .search-input {
    width: 300px;
    margin-right: 15px;

    input {
      padding-right: 40px;
    }

    button {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
