<div *ngIf="comment" class="social-comment">
  <div class="social-avatar">
    <div class="row">
      <a href="" class="pull-left">
        <img
          class="rounded-circle img-sm"
          alt="image"
          src="{{ user.profilePictureUrl }}"
        />
      </a>
      <div class="media-body">
        <a [routerLink]="['/profile', comment.userEmail]">
          {{ user.fullname }}
        </a>
        <small class="text-muted">{{
          comment.createdAt
        }}</small>
      </div>
      <div
        *ngIf="
          comment !== undefined &&
          user &&
          comment.userEmail !== undefined &&
          comment.userEmail === currentUserEmail
        "
      >
        <button
          (click)="deleteComment(comment)"
          class="btn btn-outline-danger btn-xs"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="social-body">
    <p>
      {{ comment.content }}
    </p>
  </div>
</div>
