<div class="container my-5">
  <div>
    <app-trip-details [tripId]="tripId" (status)="getStatus($event)"></app-trip-details>
  </div>
  <div class="action-button-row">
    <button mat-flat-button color="success" (click)="changeStatus('end')" *ngIf="status=='APPROVED'">
      <mat-icon>check</mat-icon> End
    </button>
    <button mat-flat-button color="danger" (click)="changeStatus('cancel')" *ngIf="status=='APPROVED'">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button mat-flat-button color="success" (click)="changeStatus('approve')" *ngIf="status=='OPEN'">
      <mat-icon>check</mat-icon> Approve
    </button>
    <button mat-flat-button color="danger" (click)="changeStatus('reject')" *ngIf="status=='OPEN'">
      <mat-icon>check</mat-icon> Reject
    </button>
  </div>
</div>
