<input type="file" multiple (change)="onFileSelected($event)" accept="image/*">

<ul class="list-group list-group-numbered" *ngIf="selectedImages.length > 0">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let image of selectedImages; let i = index">
    {{ image.name }}
    <button mat-icon-button color="warn" (click)="removeImage(i)">
      <mat-icon aria-label="Remove Item">delete</mat-icon>
    </button>
  </li>
</ul>

<div *ngIf="existingImages && !selectedImages" class="image-preview">
  <ul class="list-group list-group-numbered" *ngIf="selectedImages.length > 0">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let image of selectedImages; let i = index">
      {{ image.name }}
      <button mat-icon-button color="warn" (click)="removeImage(i)">
        <mat-icon aria-label="Remove Item">delete</mat-icon>
      </button>
    </li>
  </ul>
</div>
