<input type="file" class="file-input" accept="image/png, image/jpeg"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
    {{fileName || "No file uploaded yet."}}
</div>

<div *ngIf="selectedFile" class="image-preview">
    <img [src]="imagePreview" alt="Selected Image" class="preview-image">
</div>

<div *ngIf="existingImage && !selectedFile" class="image-preview">
    <img [src]="existingImage" alt="Existing Image" class="preview-image">
</div>

