<div class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-md justify-content-center navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand d-flex w-50 me-auto" routerLink="/">
      <img src="../../assets/logo.webp" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
      TTOS
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">

        <ul class="navbar-nav w-100 justify-content-center" *ngIf="!isMemberLoggedIn && !isAdminLoggedIn">
          <li class="nav-item px-3"> <button class="nav-link" routerLink="/">Home</button> </li>
          <li class="nav-item px-3"><button class="nav-link" routerLink="/trips">Trips</button></li>
          <li class="nav-item px-3"><button class="nav-link" routerLink="/about">About</button></li>
        </ul>
        <ul class="nav navbar-nav ms-auto w-100 justify-content-end" *ngIf="!isMemberLoggedIn && !isAdminLoggedIn">
          <li class="nav-item px-5"> <a class="nav-link" routerLink="/login"><mat-icon>person</mat-icon></a> </li>
        </ul>
        <ul class="navbar-nav w-100 justify-content-center" *ngIf="isAdminLoggedIn">
          <li class="nav-item"> <a class="nav-link" routerLink="/">Home</a> </li>
          <li class="nav-item "><a class="nav-link" routerLink="/admin/dashboard">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/admin/trips">Trips</a></li>
          <li class="nav-item "><a class="nav-link" routerLink="/admin/cities">Cities</a></li>
          <li class="nav-item "><a class="nav-link" routerLink="/admin/users">Users</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav ms-auto w-100 justify-content-end" *ngIf="isAdminLoggedIn">
          <li class="nav-item px-5"> <a class="nav-link" (click)="logout()"><mat-icon>exit_to_app</mat-icon></a> </li>
        </ul>

        <ul class="navbar-nav w-100 justify-content-center" *ngIf="isMemberLoggedIn">
          <li class="nav-item "> <a class="nav-link" routerLink="/">Home</a> </li>
          <li class="nav-item "><a class="nav-link" routerLink="/trips">Trips</a></li>
          <li class="nav-item "><a class="nav-link" routerLink="/member">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav ms-auto  w-100 justify-content-end" *ngIf="isMemberLoggedIn">
          <li class="nav-item px-5"> <a class="nav-link" (click)="logout()"><mat-icon>exit_to_app</mat-icon></a> </li>
        </ul>
      </div>
  </div>
</nav>

<router-outlet ></router-outlet>

<!-- <div class="footer navbar-expand-sm navbar-dark bg-dark "> -->
  <footer class="footer mt-auto py-3 bg-dark justify-content-center">
  &copy; {{ year }} TTOS. All rights reserved.
</footer>
</div>
