<!-- <div class="d-flex flex-column h-100"> -->
  <nav class="navbar navbar-expand-md justify-content-center navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand d-flex w-50 me-auto" routerLink="/">
        <img src="../../assets/logo.webp" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
        TTOS
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link"
              [routerLink]="['/home']">Trang chủ</a> </li>
          <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link"
              [routerLink]="['/trips']">Tour đang mở</a></li>
          <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link"
              [routerLink]="['/leaderboard']">Bảng xếp hạng</a></li>
          <li *ngIf="isAdminLoggedIn" class="nav-item" [routerLinkActive]="['active']"><a class="nav-link"
              [routerLink]="['/admin']">Dashboard</a></li>
          <li *ngIf="isMemberLoggedIn" class="nav-item" [routerLinkActive]="['active']"><a class="nav-link"
              [routerLink]="['/member']">Dashboard</a></li>
          <li class="nav-item"><button class="nav-link" [routerLink]="['/about']">About</button></li>
        </ul>
        <ul class="nav navbar-nav ms-auto w-50 justify-content-end" *ngIf="!isMemberLoggedIn && !isAdminLoggedIn">
          <li class="nav-item px-5"> <a class="nav-link" routerLink="/login"><mat-icon>person</mat-icon></a> </li>
        </ul>
        <!-- <ul class="navbar-nav w-100 justify-content-center" *ngIf="isAdminLoggedIn">
          <li class="nav-item"> <a class="nav-link" routerLink="/">Trang chủ</a> </li>
          <li class="nav-item "><a class="nav-link" routerLink="/trips">Tour đang mở</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
        </ul> -->
        <ul class="nav navbar-nav ms-auto w-50 justify-content-end" *ngIf="isAdminLoggedIn || isMemberLoggedIn">
          <li class="nav-item px-5"> <a class="nav-link" (click)="logout()"><mat-icon>exit_to_app</mat-icon></a> </li>
        </ul>

        <!-- <ul class="navbar-nav w-100 justify-content-center" *ngIf="isMemberLoggedIn">
          <li class="nav-item "> <a class="nav-link" routerLink="/">Trang chủ</a> </li>
          <li class="nav-item "><a class="nav-link" routerLink="/trips">Tour đang mở</a></li>
          <li class="nav-item "><a class="nav-link" routerLink="/member">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
        </ul> -->
        <!-- <ul class="nav navbar-nav ms-auto  w-100 justify-content-end" *ngIf="isMemberLoggedIn">
          <li class="nav-item px-5"> <a class="nav-link" (click)="logout()"><mat-icon>exit_to_app</mat-icon></a> </li>
        </ul> -->
      </div>
    </div>
  </nav>
 <div class="d-flex flex-column main-content">
  <router-outlet></router-outlet>
</div>
  <!-- <div class="footer navbar-expand-sm navbar-dark bg-dark "> -->
  <footer class="footer mt-auto py-3 bg-dark justify-content-center">
    &copy; {{ year }} TTOS. All rights reserved.
  </footer>
<!-- </div> -->