<div class="container my-5">

  <div class="heading h3">Đánh giá chuyến đi của bạn</div>

  <div class="feedback-benefits">
    <h2>Phản hồi của bạn giúp chúng tôi:</h2>
    <ul>
      <li>Nâng cao chất lượng dịch vụ</li>
      <li>Cung cấp trải nghiệm tốt hơn cho khách hàng trong tương lai</li>
      <li>Chia sẻ những điểm mạnh và điểm cần cải thiện của chúng tôi</li>
    </ul>
    <p>Chỉ mất vài phút để hoàn thành:</p>
    <ul class="feedback-steps">
      <li>Đánh giá tổng thể chuyến đi của bạn</li>
      <li>Chia sẻ suy nghĩ và góp ý của bạn về các khía cạnh khác nhau của chuyến đi, chẳng hạn như:</li>
        <ul class="nested-list">
          <li>Vị trí</li>
          <li>Chỗ ở</li>
          <li>Hoạt động</li>
          <li>Hướng dẫn viên</li>
          <li>Dịch vụ khách hàng</li>
        </ul>
      <li>Gợi ý những điểm đến hoặc hoạt động mới</li>
    </ul>
  </div>

  <form [formGroup]="feedbackForm" >
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Leader Rating</mat-label>
          <input matInput formControlName="leaderRating" type="number" min="1" max="5">
          <mat-error *ngIf="feedbackForm.get('leaderRating')?.invalid">{{ getErrorMessage('leaderRating') }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Trip Rating</mat-label>
          <input matInput formControlName="tripRating" type="number" min="1" max="5">
          <mat-error *ngIf="feedbackForm.get('tripRating')?.invalid">{{ getErrorMessage('tripRating') }}</mat-error>
        </mat-form-field>    
      </div>
    </div>
    
    <mat-form-field appearance="outline">
      <mat-label>Feedback</mat-label>
      <textarea matInput type="text" formControlName="feedback"></textarea>
      <mat-error *ngIf="feedbackForm.get('feedback')?.invalid">{{ getErrorMessage('feedback') }}</mat-error>
    </mat-form-field>
    
    <div class="mb-3">
      <button mat-raised-button color="primary" type="submit" (click)="submit()" [disabled]="feedbackForm.invalid">Submit</button>

    </div>
  </form>
</div>
