<!-- <div class="container my-5">
  <div role="tabpanel">


    <div class="row">
      <div class="col-md-3">
        <div class="list-group" id="myList" role="tablist">
          <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#contacts" role="tab">
            Messages</a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#trips" role="tab">
            Tour đang mở</a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#users" role="tab">Deactive
            Danh sách người dùng</a>
            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#cities" role="tab">Thành phố
              List</a>
        </div>
      </div>
      <div class="col-md-9">

        <div class="tab-content">
          <div class="tab-pane active" id="contacts" role="tabpanel"><app-contact-list></app-contact-list> </div>
          <div class="tab-pane active" id="cities" role="tabpanel"><app-city-list></app-city-list> </div>
          <div class="tab-pane" id="trips" role="tabpanel"><app-trip-list></app-trip-list></div>
          <div class="tab-pane" id="users" role="tabpanel"><app-user-list></app-user-list></div>
        </div>
      </div>
    </div>
  </div>
</div> -->
