<div class="container my-5">
  <div>
    <app-trip-details [tripId]="tripId"></app-trip-details>
  </div>
  <div class="my-5">
    <button mat-flat-button color="warn" *ngIf="isJoined" class="me-2" (click)="revokeJoinTrip()">
      <mat-icon>clear</mat-icon> Revoke Join
    </button>
    <button mat-flat-button color="success" *ngIf="!isJoined" class="me-2" (click)="joinTrip()">
      <mat-icon>input</mat-icon> Join Trip
    </button>
    <button mat-stroked-button color="success" class="me-2" [routerLink]="['/member/feedback/',tripId]">
      <mat-icon>feedback</mat-icon> Rate Trip
    </button>
    <button mat-stroked-button color="success" class="me-2" (click)="openChat()">
      <mat-icon> chat</mat-icon> Join Team Chat
    </button>
  </div>

  <div *ngIf="hideChat" class="card my-5">
    <app-chat [tripId]="tripId"></app-chat>
  </div>
</div>
