<div class="container my-5">
  <div *ngIf="error">{{ error }} </div>
  <div *ngIf="user">
    <div *ngIf="user.imageByte">
      <img mat-card-sm-image [src]="user.imageByte" alt="avatar" class="profile-picture img-fluid rounded-circle mx-auto img-float d-block img-md">
    </div>
    <div *ngIf="!user.imageByte" >
      <img mat-card-sm-image src="http://www.gravatar.com/avatar/?d=mp" alt="avatar" class="profile-picture img-fluid rounded-circle mx-auto img-float d-block img-md">
    </div>
    <!-- <img id="profile-picture" class="img-fluid rounded-circle mx-auto img-float d-block img-md"
      src="http://www.gravatar.com/avatar/?d=mp" /> -->
    <!-- src="{{ user?.profilepicurl }}" alt="noimage" /> -->
    <div class="d-flex justify-content-center">
      <div class="heading h2">{{ user?.fullName }} </div> 
      <div>
      <span *ngIf="user.isReported">
        <span class="badge bg-warning text-dark">Bị báo cáo</span>
      </span>
      <span *ngIf="!user.isActive">
        <span class="badge bg-danger">Không hoạt động</span>
      </span>
    </div>
    </div>

    <div class="row mt-4">
      <div class="col-4 example-sidenav">
        <div class="heading h4">User Info</div>
        <div class="card my-3">
          <div class="card-body">
            <div class="d-flex flex-column align-items-left">
              <div id="profile-view lh-lg" class="mt-3">
                <p >Username: {{ user?.username }}</p>
                <p >Giới tính: {{ user?.gender }}</p>
                <p >Ngày sinh: {{ user?.dob | date:'dd/MM/yyyy'}}</p>
                <p >Số điện thoại: {{ user?.phoneNo }}</p>
                <p >Email: {{ user?.email }}</p>
                <ngb-rating [(rate)]="rating" [readonly]="true" [max]="5"
                  class="custom-rating"></ngb-rating>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="trips" class="heading h4">List of Trips</div>
        <mat-list dense *ngIf="trips">
          <ng-template ngFor let-trip [ngForOf]="trips">
            <mat-list-item class="list-with-border panel" (click)="display(trip)" [activated]="displaySelectedTrip(trip)">
              <span matListItemTitle>{{ trip.title }}</span>
              <span matListItemLine>{{ trip.cityName }} | {{ trip.startDate }} - {{ trip.endDate }}</span>
              <span matListItemLine><ngb-rating [(rate)]="trip.rating" [readonly]="true" [max]="5"></ngb-rating></span>
            </mat-list-item>
          </ng-template>
        </mat-list>
      </div>
      <div class="col">
        <div *ngIf="selectedTrip">
          <mat-card [routerLink]="['/trips/view', selectedTrip.id]" class="trip-card mx-auto">
            <app-trip-card [trip]="selectedTrip"></app-trip-card>
          </mat-card>
        </div>
        <ng-template ngFor let-feedback [ngForOf]="feedbacks">
          <mat-card style="margin:10px">
            <app-feedback-card [feedback]="feedback"></app-feedback-card>
            </mat-card>
        </ng-template>
      </div>
    </div>
  </div>
  <div *ngIf="isAdminLoggedIn && user">
    <button mat-flat-button color="success" (click)="changeStatus()" *ngIf="!user.isActive">
      <mat-icon>check</mat-icon> Active User
    </button>
    <button mat-flat-button color="danger" (click)="changeStatus()" *ngIf="user.isActive">
      <mat-icon>close</mat-icon> Inactive User
    </button>
  </div>
  <!-- <div *ngIf="isAdminLoggedIn && user">    
    <button mat-flat-button class="btn btn-success" (click)="openChangeStatusDialog()" >
Change Status
    </button>
  </div> -->
</div>
