<div class="container my-5">
  <mat-card>
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
            Please enter a valid email address</mat-error>
        </mat-form-field>
      </form>
      <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
    </mat-card-content>
    <mat-card-actions>
      <div class="my-1 mx-auto">
        <button mat-stroked-button color="accent" [disabled]="forgotPasswordForm.invalid || isLoading" (click)="onSubmit()">
          <span *ngIf="!isLoading">Send Temporary Password</span>
          <span *ngIf="isLoading"><mat-spinner [diameter]="20"></mat-spinner></span>
          
          </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>