/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body {
  color: #0e2517;
  background: #fdfbf1;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;

}

/* Custom buttons */
body {
  .mdc-button.mat-success,
  .mat-mdc-stroked-button.mat-success {
    color: #61d800;
  }
  .mat-mdc-unelevated-button.mat-success:hover,
  .mat-mdc-raised-button.mat-success:hover {
    color: #f0fff3;
    background-color: #61d800;
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-success,
  .mat-mdc-raised-button.mat-success,
  .mat-mdc-fab.mat-success,
  .mat-mdc-mini-fab.mat-success {
    color: #f0fff3;
    background-color: #61d800;
  }
  .mat-mdc-icon-button.mat-success {
    color: #61d800;
  }
}

.custom-rating {
  font-size: 20px; /* Adjust font size for stars */
  line-height: 20px; /* Adjust spacing for stars */
  width: 100px;
}

.preview-image {
  max-width: 60vw;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
