<div class="container my-5">
  <div *ngIf="trip">
    <p class="h3">Payment</p>

    <div class="row p-3">
      <div class="col-6 justify-content-center">
        <p class="h5">Trip Info</p>
        <mat-card class="m-4" style="width:50%">
          <app-trip-card [trip]="trip"></app-trip-card>
        </mat-card>

      </div>
      <div class="col-6 justify-content-center">
        <p class="h5">Payer Info</p>
        <mat-card class="m-4" style="width:50%">
          <app-profile-card [userId]="payment.payerId"></app-profile-card>
        </mat-card>

      </div>
    </div>

    <div class="p-3">
      <div class="mb-3">
        <div class="mb-3">
          <div><strong>Evidence: </strong></div>
          <img [src]="payment.imageURL" alt="Evidence" class="preview-image">
        </div>
      </div>

      <div class="mb-3">
        <div><strong>Notes: </strong></div>
        <p>{{ payment.notes }}</p>
      </div>
      <div class="mb-3">
        <button mat-raised-button color="primary" type="button" class="me-3" (click)="confirm()">Approve</button>
        <button mat-raised-button color="danger" type="button" class="me-3" (click)="reject()">Reject</button>
      </div>
    </div>
  </div>
</div>
