
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ feedback.fullName }}</mat-card-title>
      <mat-card-subtitle>
        <div>Chuyến đi: <ngb-rating [(rate)]="feedback.tripRating" [readonly]="true" [max]="5"
            class="custom-rating"></ngb-rating></div>
        <div>Đội trưởng: <ngb-rating [(rate)]="feedback.leaderRating" [readonly]="true" [max]="5"
            class="custom-rating"></ngb-rating></div>
      </mat-card-subtitle>
      <img mat-card-sm-image [src]="feedback.imageByte" class="img-fluid rounded-start" alt="avatar">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div style="white-space: pre-wrap;"> {{ feedback.feedback }}</div>
  </mat-card-content>


