
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ feedback.fullName }}</mat-card-title>
      <mat-card-subtitle>
        <div> Trip Rating: <ngb-rating [(rate)]="feedback.tripRating" [readonly]="true" [max]="5"
            class="custom-rating"></ngb-rating></div>
        <div>Leader Rating: <ngb-rating [(rate)]="feedback.leaderRating" [readonly]="true" [max]="5"
            class="custom-rating"></ngb-rating></div>
      </mat-card-subtitle>
      <img mat-card-md-image [src]="feedback.imageURL" class="img-fluid rounded-start" alt="avatar">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div> {{ feedback.feedback }}</div>
  </mat-card-content>


