<div class="container my-5">

  <div class="heading h3">Feedback</div>
  <form [formGroup]="feedbackForm" >
    <div class="mb-3">
      <label for="leaderRatingFld" class="col-sm-2 col-form-label">Leader Rating</label>
      <select formControlName="leaderRating" id="leaderRating" class="form-select">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <div class="invalid-feedback" *ngIf="feedbackForm.get('leaderRating')?.hasError('required')">This input is required!
      </div>
    </div>

    <div class="mb-3">
      <label for="tripRatingFld" class="col-sm-2 col-form-label">Trip Rating</label>
      <select formControlName="tripRating" id="tripRating" class="form-select">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <div class="invalid-feedback" *ngIf="feedbackForm.get('tripRating')?.hasError('required')">This input is required!
      </div>
    </div>

    <div class="mb-3">
      <label for="feedbackFld" class="col-sm-2 col-form-label">Feedback</label>
      <textarea formControlName="feedback" class="form-control" id="feedbackFld" required></textarea>
      <!-- <div class="invalid-feedback" *ngIf="tripForm.get('title')?.hasError('required')">This input is required!</div> -->
    </div>
    <div class="mb-3">
      <button mat-raised-button color="primary" type="submit" (click)="submit()">Submit</button>

    </div>
  </form>
</div>
